<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
  </head>
  <body>
    <h1>Search Results</h1>
    <button>
      <a href="/search">Search Again</a>
    </button>
    <% results.forEach(function(result) { %>
    <p>
      TITLE: <%= result.title %>, DESCRIPTION: <%= result.plot ||
      result.description %>
    </p>
    <% }); %>
  </body>
</html>
